body {
  /*background: #fafafa !important;*/
  color: #505050;
  font-weight: normal;
  font-size: 15px;
  background-color: white;
  font-family: 'HKGrotesk-Regular', 'Maison Neue', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.navbar-default {
  background-color: #fff;
}

.centered {
  text-align: center;
}

.panel {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  background-color: rgb(249, 250, 252);
  border: 0 solid transparent;
  padding: 10px;
}

.panel-default > .panel-heading {
  background-color: rgb(249, 250, 252);
  color: #3b3b3b !important;
  padding: 10px 8px !important;
}

.table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: transparent !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fafafa !important;
}

.table-hover > tbody > tr:hover {
  background-color: #fafafa !important;
}

.page-header {
  border-bottom: none !important;
  margin-top: 0 !important;
}

.page-header h1 {
  text-align: center;
}

.form-control, .btn-default {
  border-color: white !important;
  background-color: #fafafa !important;
  color: #3b3b3b !important;
}

.btn-default {
  border-radius: 2px;
}

.panel-footer {
  background-color: #f9fafc !important;
  border-top: none !important;
}

.pagination > li > a, .pagination > li > span {
  border-color: #e8e8e8;
  background-color: #f9fafc!important;
  color: #3b3b3b;
}

.navbar {
  min-height: 64px;
}

.navbar-default {
  border-color: #e8e8e8;
}

body {
  padding-top: 64px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.navbar-text {
  font-weight: 300;
}

.navbar-header {
  padding-right: 30px;
  border-right: 1px solid #e8e8e8;
  padding-top: 4px;
  padding-bottom: 9px;
}

.collapse > p {
  font-size: 20px;
  margin-left: 38px;
  margin-top: 18px;
}

.panel-default > .panel-heading {
  padding-bottom: 0!important;
}

.panel-heading h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 14px;
}

table.table-tx tbody tr td:first-child, table.table-tx tbody tr td:nth-child(2) {
  min-width: 60px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tbody tr td:first-child, table thead tr th:nth-child(3), table tbody tr td:first-child, table tbody tr td:nth-child(3) {
  text-align: right;
}

table tbody tr td:first-child {
  text-align: left;
}

table thead tr th:nth-child(5) {
  text-align: center;
}

table thead tr th {
  font-weight: 400;
  font-size: 12px;
  color: #979FA1;
  text-transform: uppercase;
  border-left: 0!important;
  border-right: 0!important;
  border-bottom: 1px solid #e8e8e8!important;
}

table.table-tx {
  margin-top: 10px;
}

table.table-tx tbody tr td {
  border-left: 0!important;
  border-right: 0!important;
  border-bottom: 1px solid #e8e8e8!important;
}

.transaction-table .confirmation-list ul {
  list-style-type: none;
  padding-left: 0;
  min-width: 149px;
}
.transaction-table .confirmation-list ul li {
  background: #DCCDFF;
  border-radius: 100px;
  font-size: 14px;
  color: black;
  text-align: center;
  letter-spacing: 0;
  opacity: 0.7;
  line-height: 16px;
  padding: 4px 0px;
  background: #DAEAEF;
}

.pagination > li > a, .pagination > li > span {
  background-color: #f9fafc!important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border: 1px solid #e8e8e8!important;
  border-radius: 4px!important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-right: 1px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  margin-left: 1px;
}

.pagination-page a {
  color: #aaa!important;
}

.pagination-page.active a {
  color: #333!important;
  font-weight: bold;
}

.panel-heading select {
  width: 120px!important;
  margin-top: -10px;
}

/* Aragon website navbar
/* ---------------------------------------------------------- */

.aragon-navbar {
  width: 100%;
  height: 64px;
  background: rgb(28, 29, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 5;
}
.aragon-navbar ul {
  padding: 0;
}
.aragon-navbar .brand {
  display: flex;
}
.aragon-navbar  a {
  position: relative;
  outline: 0 !important;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap;
  color: #ffffff;
}
.aragon-navbar  a:hover {
  cursor: pointer;
}


.aragon-navbar .center {
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
  display: inherit;
}
.aragon-navbar .center ul {
    display: flex;
    height: 100%;
    margin: 0;
}
.aragon-navbar .center ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
}
.aragon-navbar .center ul li.logo-li {
    width: 100px;
}
.aragon-navbar .center ul li.logo-li a{
    padding: 0;
}
.aragon-navbar .center  button {
    margin: 0 0 0 10px;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 100%;
}
.logo-link img {
  height: 45px;
}

@media (max-width: 745px) {
  .aragon-navbar .center ul li {
      display: none
  }
  .aragon-navbar .center ul li.logo-li {
      display: flex;
  }
  .footer-container {
    grid-template-columns: 33% !important;
  }
  .mobile-full {
    grid-column-start: 1 !important;
    grid-column-end: 4 !important;
  }
}

.secondary-navbar {
  background-color: #26272f;
  border: transparent;
  color: white;
  display: flex;
  align-items: center;
}

.secondary-navbar .navbar-text {
  font-weight: bold;
  margin: 0;
  font-size: 17px;
  padding-left: 2px;
}

.secondary-navbar .divider {
  padding: 0 10px;
}
.secondary-navbar a {
  color: #01c3e3;
  text-decoration: none;
  outline: none;
}

.secondary-navbar a:hover {
  color: #039eb7;
  text-decoration: none;
}
