<div class="panel panel-default">
  <div class="panel-heading">
      Lightwallet
  </div>

  <div ng-if="!hasKeystore" class="panel-body text-center">
      <p>Use Gnosis LightWallet (it doesn’t require any installation process)</p>
      <div>
        <input type="button" class="btn btn-primary" value="Create" ng-click="createSeed()" />
        <input type="button" class="btn btn-primary" value="Restore from seed" ng-model="account.seed" ng-click="restoreFromSeed()" />
        <input type="button" class="btn btn-primary" value="Upload" onclick="document.querySelector('.keystore-file-upload').click()" />
        <input class="keystore-file-upload" type="file" onchange="angular.element(this).scope().uploadKeystore(this)" style="display:none;">
      </div>
  </div>
  <div ng-if="hasSeed" class="panel-body text-center">
      <p>Your seed is:</p>
      <div class="seed">{{account.seed}}</div>

      <p class="top-20">Please enter a password to securely encrypt your wallet.</p>

      <form name="password_form" novalidate ng-submit="createWallet()">
        <div>
          <input type="password" ng-model="account.password" ng-minlength="8"
            name="password" required="" placeholder="Password" class="form-control">
        </div>
        <div ng-show="password_form.$submitted || password_form.password.$touched">
          <div class="alert-fail" ng-show="password_form.password.$error.required">A password must be entered.</div>
          <div class="alert-fail" ng-show="password_form.password.$error.minlength">A password should contain at least 8 characters.</div>
        </div>

        <div class="top-10">
          <input type="password" ng-model="account.password_repeat" match="account.password"
            name="password_repeat" required="" placeholder="Repeat password" class="form-control">
        </div>
        <div ng-show="password_form.$submitted || password_form.password_repeat.$touched">
          <div class="alert-fail" ng-show="password_form.password_repeat.$error.required">Enter the same password again.</div>
          <div class="alert-fail" ng-show="password_form.password_repeat.$error.mismatch">Passwords do not match.</div>
        </div>
        <div>
          <button type="submit" class="btn btn-success top-10" ng-disabled="password_form.$invalid">Create Wallet</button>
        </div>
      </form>
  </div>
  <div ng-if="hasKeystore" class="panel-body text-center">
    <input type="button" class="btn btn-primary" value="Download" ng-click="downloadKeystore()" />
    <div ng-repeat="address in account.addresses">
      <h4>{{address}}</h4>
    </div>
    {{account}}
  </div>

</div>
