<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <button type="button" class="btn btn-default" ng-click="createWallet()">
        Add
      </button>
      <button type="button" class="btn btn-default" onclick="document.querySelector('.keystore-file-upload').click()">
        Import
      </button>
      <input class="keystore-file-upload" type="file" onchange="angular.element(this).scope().uploadKeystore(this)" style="display:none;">
      <button type="button" class="btn btn-default" ng-click="downloadKeystore()" ng-show="hasKeystore">
        Download
      </button>
    </div>
    <h4>
      Accounts
    </h4>
  </div>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="account in account.addresses|objectToArray|limitTo:itemsPerPage:itemsPerPage*(currentPage-1) track by $index">
        <td>
          <a ng-href="#/wallet/{{account.address}}" ng-bind-html="account.name | dashIfEmpty"></a>
          <div class="pull-right form-inline">
            <button type="button" class="btn btn-default btn-sm" ng-click="editAccount(account)">
              Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="removeAccount(account)">
              Remove
            </button>
          </div>
        </td>
        <td>
          <div uib-popover="{{account.address}}" popover-trigger="'mouseenter'">
            {{::account.address|address}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!--<div ng-hide="totalItems" class="panel-body text-center">
    No wallets. Add wallet <a href="" ng-click="newWalletSelect()">now</a>.
  </div>-->
</div>
