<div class="page-header">
  <h1>
    Owners
  </h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
        <button class="btn btn-danger" ng-click="removeAll()">
          Remove all
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="owner in owners | objectToArray| limitTo:currentPage*itemsPerPage:itemsPerPage*(currentPage-1) track by $index">
      <td>
        <input type="text" ng-model="owner.name" class="form-control" ng-change="update(owner)">
      </td>
      <td>
        {{owner.address}}
      </td>
      <td>
        <button class="btn btn-default" ng-click="remove(owner)">
          <i class="fa fa-minus text-danger">
          </i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" ng-model="new.name" class="form-control">
      </td>
      <td>
        <input type="text" ng-model="new.address" class="form-control">
      </td>
      <td>
        <button class="btn btn-default" ng-click="update(new)">
          <i class="fa fa-plus text-default">
          </i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-hide="totalItems" class="text-center">
  No Owners
</div>

<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
