<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      Settings
    </h3>
  </div>
  <form ng-submit="update()">
  <div class="panel-body">
      <div class="form-group">
        <label>Ethereum node</label>
        <input type="url" ng-model="config.ethereumNode" class="form-control" />
      </div>
      <div class="form-group">
        <label>Gas limit</label>
        <input type="number" ng-model="config.gasLimit" class="form-control" />
      </div>
      <div class="form-group">
        <label>Gas price</label>
        <input type="number" ng-model="config.gasPrice" class="form-control" />
      </div>
  </div>
  <div class="panel-footer">
    <input type="submit" class="btn btn-default" value="Update" />
  </div>
  </form>
</div>
