<div class="page-header">
  <h1>
    {{wallet.name}}
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      Owners
      <div class="pull-right">
        <button type="button" ng-click="addOwner()" class="btn btn-default">
          Add
        </button>
        <button type="button" ng-click="hideOwners = !hideOwners" class="btn btn-default">
          Hide
        </button>
      </div>
    </h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Address
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="owner in owners track by $index">
          <td>
            {{getOwnerName(owner)}}
          </td>
          <td>
            {{owner}}
          </td>
          <td>
            <button type="button" ng-click="editOwner(owner)" class="btn btn-default">
              Edit
            </button>
            <button type="button" ng-click="removeOwner(owner)" class="btn btn-danger">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      Multisig-Transactions
      <div class="pull-right">
        <button type="button" class="btn btn-default">
          Add
        </button>
        <button type="button" class="btn btn-default">
          Get Nonce
        </button>
      </div>
    </h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Destionation/Type
          </th>
          <th>
            Value
          </th>
          <th>
            Data
          </th>
          <th>
            Nonce
          </th>
          <th>
            # Confirmations
          </th>
          <th>
            Executed
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tx in pending track by $index">
          <td>
            {{tx|limitTo:20}}...
          </td>
          <td>
            {{transactions[tx].to|limitTo:20}}...
          </td>
          <td>
            {{transactions[tx].value}}
          </td>
          <td>
            {{transactions[tx].data|limitTo:20}}...
          </td>
          <td>
            {{transactions[tx].nonce}}
          </td>
          <td ng-hide="transactions[tx].isConfirmed">
            <button type="button" class="btn btn-default" ng-click="confirmTransaction(tx)">
              Confirm
            </button>
          </td>
          <td ng-hide="transactions[tx].isConfirmed">
            <button type="button" class="btn btn-default" ng-click="confirmTransactionOffline(tx)">
              Confirm offline
            </button>
          </td>
          <td ng-show="transactions[tx].isConfirmed">
            <button type="button" class="btn btn-default" ng-click="revokeConfirmation(tx)">
              Revoke Confirmation
            </button>
          </td>
          <td ng-show="transactions[tx].isConfirmed">
            <button type="button" class="btn btn-default" ng-click="revokeConfirmationOffline(tx)">
              Revoke confirmation offline
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
