<div class="page-header">
  <h1>MultiSig Wallet: {{wallet.name}}</h1>
</div>

<div class="row col-md-12">
  <div class="form-horizontal col-md-6">
    <label class="col-sm-4 control-label">Balance:</label>
    <div class="col-sm-8">
      <p class="form-control-static">{{balance}} ETH</p>
    </div>
  </div>
  <div class="form-horizontal col-md-6">
    <label class="col-sm-4 control-label">Address:</label>
    <div class="col-sm-8">
      <p class="form-control-static">{{wallet.address}}</p>
    </div>
  </div>
</div>

<div class="row col-md-12">
  <div class="form-horizontal col-md-6">
    <label class="col-sm-4 control-label">Required confirmations:</label>
    <div class="col-sm-6">
      <p class="form-control-static">{{required}}</p>
    </div>
    <a ng-href="#/wallet/{{wallet.address}}/update-required" class="btn btn-default col-sm-2" ng-click="updateRequired()">
      Update
    </a>
  </div>
  <div class="form-horizontal col-md-6">
    <label class="col-sm-4 control-label">Owners num:</label>
    <div class="col-sm-6">
        <input type="number" class="form-control" ng-model="ownersNum">
    </div>
    <button type="button" class="btn btn-default" ng-click="getOwners()">
      Get
    </button>
  </div>
</div>

<div class="page-header">
  <h2> Owners </h2>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="owner in owners track by $index">
      <td>
        {{getOwnerName(owner)}}
      </td>
      <td>
        {{owner}}
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" ng-model="newOwner.name" class="form-control">
      </td>
      <td>
        <input type="text" ng-model="newOwner.address" class="form-control">
      </td>
      <td>
        <button type="button" ng-click="addOwner()" class="btn btn-default" ng-disabled="!newOwner.address">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2> Pending transactions </h2>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        txHash
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tx in pending track by $index">
      <td>
        {{tx}}
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2> Executed transactions </h2>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        txHash
      </th>
      <th>
        to
      </th>
      <th>
        value
      </th>
      <th>
        data
      </th>
      <th>
        nonce
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tx in executed track by $index">
      <td>
        <a ng-href="https://etherscan.io/tx/{{tx}}">{{tx|limitTo:30}}...</a>
      </td>
      <td>
        <a ng-href="https://etherscan.io/address/{{transactions[tx].to}}">
        {{transactions[tx].to|limitTo:30}}...
        </a>
      </td>
      <td>
        {{transactions[tx].value}}
      </td>
      <td>
        {{transactions[tx].data}}
      </td>
      <td>
        {{transactions[tx].nonce}}
      </td>
    </tr>
  </tbody>
</table>
