<div class="page-header">
  <h1>
    Wallets
    <small>
      <button class="btn btn-default pull-right" ng-click="newWalletSelect()">
        Add
      </button>
    </small>
  </h1>
</div>

<div>
  <div ng-repeat="(walletAddress, wallet) in wallets|objectToArray|limitTo:itemsPerPage:itemsPerPage*(currentPage-1)">
    <div class="col-xs-4">
      <h3>
        <a ng-href="#/wallet/{{wallet.address}}">{{wallet.name}}</a>
      </h3>
    </div>
    <div class="col-xs-6">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{wallet.address}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Balance</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{wallet.balance}} ETH</p>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-danger" ng-click="removeWallet(wallet.address)">
        <i class="fa fa-minus">
        </i>
      </button>
    </div>
  </div>
  <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
</div>

<div ng-show="view == 'create'">
  
</div>

<div ng-show="view == 'restore'">
  <h4> Restore existing multisignature wallet </h4>
  <form class="form" ng-submit="restoreWallet()">
    <div class="form-group">
      <label> Name </label>
      <input type="text" class="form-control" ng-model="old.name" required\>
    </div>

    <div class="form-group">
      <label> Address </label>
      <input type="text" class="form-control" ng-model="old.address" required\>
    </div>

    <button class="btn btn-danger" ng-click="view = 'select'">
      Cancel
    </button>
    <button class="btn btn-default" type="submit">
      Next
    </button>

  </form>
</div>
