<div class="modal-header">
  <h3 class="modal-title">
    Notifications
  </h3>
</div>

<div class="modal-body" id="modal-body" ng-show="!showAlertData">
  <div class="form-group">
    <i class="fa fa-spinner fa-spin"></i>
    Loading...
  </div>
</div>

<form class="form" name="addNotifications" ng-show="showAlertData">
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      Notify me on:
    </div>
    <div class="form-group" ng-repeat="event in events track by $index">
      <label class="checkbox-inline">
          <input type="checkbox" value=""
          ng-model="selectedEvents[event.name]">
          <span alert-event-description="{{event.name | formatEventName}}"></span>
      </label>
      <!-- TO BE Handled in another moment
      <div class="form-group" ng-repeat="param in event.inputs track by $index" >
          <label ng-attr-for="{{ 'value-' + $parent.$index + '-' + $index }}">{{param.name}}</label>
          <input ng-attr-id="{{ 'value-' + $parent.$index + '-' + $index }}"
            type="text"
            class="form-control"
            ng-model="params[event.name][param.name]">
      </div>
      -->
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-sm btn-primary"
        ng-value="subscribeUnsubscribeValue" ng-click="subscribeUnsubscribe()">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()"
      ng-show="!showLoadingSpinner">
      Ok
    </button>
    <button class="btn btn-default" type="button"
      ng-show="showLoadingSpinner"
      disabled>
      <i class="fa fa-spinner fa-spin"></i>
      Sending...
    </button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
