<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Select a Web3 wallet provider
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h3>
    Ledger wallet
    </h3>
    <img class="img-responsive" src="./img/ledger-provider.png" ng-click="ok('ledger')"/>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h3>
      Light wallet
    </h3>
    <img class="img-responsive" src="./img/wallet-logo.svg" ng-click="ok('lightwallet')"/>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <h3>
      Remote node
    </h3>
    <img class="img-responsive" src="./img/web3-provider.png" ng-click="ok('remotenode')"/>
  </div>
</div>
<div class="modal-footer">

</div>
