<div class="modal-header">
  <h3 class="modal-title">
    Confirm transaction offline
  </h3>
</div>
<form ng-submit="ok()">
  <div class="modal-body">
    <div class="form-group">
      <label for="nonce">Transaction Hash</label>
      <textarea class="form-control" ng-model="transactionHash"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <input class="btn btn-default" type="submit" value="Sign offline" ng-click="signOffline()" />
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
