<div class="modal-header">
  <h3 class="modal-title">
    Delete Authorization Code
  </h3>
</div>
<form class="form" name="signupForm">
  <div class="modal-body" id="modal-body">
    Are you sure to delete your authorization code?
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()"
      ng-show="!showLoadingSpinner">
      Ok
    </button>
    <button class="btn btn-default" type="button"
      ng-show="showLoadingSpinner"
      disabled>
      <i class="fa fa-spinner fa-spin"></i>
      Deleting...
    </button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
