<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">Important notice</div>
  </div>
</div>
<div class="modal-body">  
  <p>
    All smart contracts have been audited carefully multiple times.
    However, all contracts are <strong>WITHOUT ANY WARRANTY;</strong> without even
    the implied warranty of <strong>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE</strong>.
  </p>
  <p>
    Use at your own risk.
  </p>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" >
    I confirm the terms and conditions
  </button>
</div>
