<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Unlock your Ledger
    </div>
  </div>
</div>
<div class="modal-body">
  <img src="./img/ledger.jpg" class="img-responsive" />
  <p>
    In order to use the Dapp you need to:
    <ul class="list-decimal">
      <li>
        Connect your Ledger wallet to your USB port
      </li>
      <li>
        Enter your Ledger wallet pin code
      </li>
      <li>
        Open the Ethereum app on your Ledger wallet
      </li>
      <li>
        Allow the multisig DApp to access your accounts on the Ledger wallet
      </li>
    </ul>
  </p>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" >
    Ok
  </button>
</div>
