<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Unlock your Ledger wallet
    </div>
  </div>
</div>
<div class="modal-body">
  <img src="./img/ledger.jpg" class="img-responsive" />
  <br>
  <p>
    In order to use the multisig with your Ledger wallet you need to:
    <ul>
      <li>
        Connect your Ledger wallet to your USB port
      </li>
      <li>
        Enter your Ledger wallet pin code
      </li>
      <li>
        Update ledger firmware if version < 1.2
      </li>
      <li>
        Install the Ethereum app on your Ledger wallet
      </li>
      <li ng-hide="isElectron">
        Enable Browser support and contract data on settings
      </li>
      <li ng-show="isElectron">
        Disable Browser support and enable contract data on settings
      </li>
      <li>
        Allow the multisig DApp to access your accounts on the Ledger wallet
      </li>
    </ul>
  </p>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" >
    Cancel
  </button>
</div>
