<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Unlock your Ledger
    </div>
  </div>
</div>
<div class="modal-body">
  <img src="./img/ledger.jpg" class="img-responsive" />
  <p>
    In order to use the Dapp you need to:
    <ul>
      <li>
        Enter your ledger pincode
      </li>
      <li>
        Open the Ethereum App
      </li>
      <li>
        Allow Multisig to access your accounts
      </li>
    </ul>
  </p>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" >
    Ok
  </button>
</div>
