<div class="modal-header">
  <h3 class="modal-title">
    Notifications signup
  </h3>
</div>
<form class="form" name="signupForm">
  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <label for="name">Email</label>
      <input name="email" type="email" class="form-control" ng-model="request.email" />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()"
      ng-disabled="!request.email && signupForm.email.$error"
      ng-show="!showLoadingSpinner">
      Ok
    </button>
    <button class="btn btn-default" type="button" id="load"      
      ng-show="showLoadingSpinner"
      disabled>
      <i class="fa fa-spinner fa-spin"></i>
      Sending...
    </button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
