<div class="modal-header">
  <h3 class="modal-title">
    Remove account
  </h3>
</div>
<div class="modal-body">
  <form name="edit_form" novalidate>
    <div class="top-10">
      <input type="text" ng-model="account.address"
        name="address" required="" class="form-control" disabled>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success"
    ng-click="ok()">
    Confirm
  </button>
  <button class="btn btn-danger" ng-click="cancel()">
    Cancel
  </button>
</div>
