<div class="modal-header">
  <h3 class="modal-title">
    Remove owner
  </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" ng-model="owner.name" readonly />
  </div>
  <div class="form-group">
    <label for="address"> Address </label>
    <input id="address" type="text" class="form-control" ng-model="owner.address" readonly />
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="send()">
    Send multisig transaction
  </button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">
    Cancel
  </button>
</div>
