<div class="modal-header">
  <h3 class="modal-title">
    Change daily limit
  </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="limit">Daily limit (ETH)</label>
    <input id="limit" type="number" step="any" ng-model="limit" class="form-control" />
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="setLimit()" show-hide-by-connectivity="online">
    Send transaction
  </button>
  <button type="button" class="btn btn-default" ng-click="sign()" show-hide-by-connectivity="offline">
    Sign offline
  </button>  
  <button type="button" class="btn btn-danger" ng-click="cancel()">
    Cancel
  </button>
</div>
