<div class="modal-header">
  <h3 class="modal-title">
    Sign multisig transaction offline
  </h3>
</div>

<form ng-submit="ok()" name="form">
  <div class="modal-body">
    <div class="form-group">
      <label>
        Multisig Nonce
      </label>
      <input class="form-control" type="text" ng-model="nonces.multisig" required \>
    </div>
    <div class="form-group">
      <label>
        Account Nonce
      </label>
      <input class="form-control" type="text" ng-model="nonces.account" required \>
    </div>
  </div>

  <div class="modal-footer">
    <input class="btn btn-default" type="submit" value="Ok" ng-disabled="form.$invalid" \>
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
