<div class="modal-header">
  <h3 class="modal-title">
    Change # required conf.
  </h3>
</div>


<div class="modal-body">
  <div class="form-group">
    <label class="control-label">
      Required confirmations:
    </label>
    <input type="number" class="form-control" ng-model="required">
  </div>
</div>
<div class="modal-footer">
  <button type="bytton" class="btn btn-default" ng-click="update()">
    Update
  </button>
  <button type="button" class="btn btn-default" ng-click="signOffline()">
    Sign Offline
  </button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">
    Cancel
  </button>
</form>
