<div class="modal-header">
  <h3 class="modal-title">
    Change required confirmations
  </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="confirmations">Required confirmations</label>
    <input id="confirmations" type="number" class="form-control" ng-model="required">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="update()" show-hide-by-connectivity="online">
    Send transaction
  </button>
  <button type="button" class="btn btn-default" ng-click="signOffline()" show-hide-by-connectivity="offline">
    Sign Offline
  </button>
  <button type="button" class="btn btn-default" ng-click="getNonce()" show-hide-by-connectivity="online">
    Get nonce
  </button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">
    Cancel
  </button>
</div>
