<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Warning
    </div>
  </div>
</div>
<div class="modal-body">
  <p>
    In order to be able to create a wallet and operate with it, you need to access this website with a 3rd party Web3 Wallet like
    <a href="https://metamask.io/" class="prevent-focus" target="_blank">Metamask</a>,
    <a href="https://github.com/ethereum/mist" target="_blank">Mist</a> or
    <a href="https://ethcore.io/parity.html" target="_blank">Parity</a>.
  </p>
  <p>
    Without any of these extensions you will only be able to see wallets already created by importing their addresses.
  </p>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" >
    Ok
  </button>
</div>
