.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.navbar {
    font-weight: bold;
}

.popover {
    max-width: 450px;
    color: #87949c;
}

h1 {
    font-size: 40px !important;
}

html {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(../img/gnosis-logo.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 512px;
}

.navbar-brand > img {
    height: 32px;
    margin-top: -6px;
}

.tx-data{
    word-wrap: break-word;
}
.popover{
  word-wrap: break-word;
}

table.collapse.in {
   display: table;
}

textarea.json-config {
  min-height: 100px !important;
}

.centered-dash {
  text-align: center;
  display: block;
}

.online-status{
  color: #008000; /* green */
}
.offline-status{
  color: #f5231c; /* red */
}

.wallet-icon{
  max-width: 20px;
}

.prevent-focus:focus {
  outline:0 !important;
  text-decoration: none !important;
  border:none !important;
}
