.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.popover {
    max-width: 450px;
}

body { padding-top: 70px; padding-bottom: 70px;}
.navbar-brand>img {
  height: 100%;
}

.tx-data{
  word-wrap: break-word;
}
