<div class="modal-header">
  <h3 class="modal-title">
    {{title ? title : 'Add wallet'}}
  </h3>
</div>
<div class="modal-body">
  <form name="password_form" novalidate>
    <p class="top-20">Please enter your password.</p>

    <div ng-show="!hasError" class="top-10">
      <input type="password" ng-model="password" ng-minlength="8"
        call-func-on-key-enter="ok()"
        name="password" required="" placeholder="Password" class="form-control">
    </div>
    <div ng-show="hasError" class="has-error has-feedback top-10">
      <input type="password" ng-model="password" ng-minlength="8"
        call-func-on-key-enter="ok()"
        name="password" required="" placeholder="Password" class="form-control">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>      
    </div>
  </form>
</div>

<div class="modal-footer top-20">
  <button type="submit" class="btn btn-success"
    ng-disabled="password_form.$invalid"
    ng-click="ok()"
    ng-show="!showLoadingSpinner">
    Ok
  </button>
  <button type="button" class="btn btn-success"
    ng-show="showLoadingSpinner"
    disabled>
    <i class="fa fa-spinner fa-spin"></i>
    Executing...
  </button>
  <button class="btn btn-danger" ng-click="cancel()">
    Cancel
  </button>
</div>
