<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">
      Select a Web3 wallet provider
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="col-lg-3 col-md-3 col-xs-12">
    <button type="button" class="btn btn-default" ng-click="ok('ledger')">
      <h4>
        Ledger wallet
      </h4>
    </button>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <button type="button" class="btn btn-default" ng-click="ok('lightwallet')">
      <h4>
        Light wallet
      </h4>
    </button>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <button type="button" class="btn btn-default" ng-click="ok('trezor')">
      <h4>
        Trezor wallet
      </h4>
    </button>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-12">
    <button type="button" class="btn btn-default" ng-click="ok('remotenode')">
      <h4>
        Remote node
      </h4>
    </button>
  </div>
</div>
<div class="modal-footer">

</div>