<div class="modal-header">
  <h3 class="modal-title">
    Get nonce
  </h3>
</div>
<form class="form" name="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="address">Address</label>
      <input id="address" class="form-control" type="text" ng-minlength="40" ng-model="address" required />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()" ng-disabled="form.$invalid" >
      Ok
    </button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
