<div class="modal-header">
  <h3 class="modal-title">
    Gnosis Safe Multisig is like Multisig but better!
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <p>
    Gnosis Safe Multisig is a successor to the Multisig Wallet.
    Migrate your old Multisig and enjoy new benefits:
  </p>

  <div class="safe-features">
      <ul class="left">
        <li>
          <h4>Future Proof</h4>
          The upgradable and modular design allows you to be ready for future use-cases and asset-types
        </li>
        <li>
          <h4>Formally Verified</h4>
          While our code is always audited, we've gone one step further and formally
          verified the Gnosis Safe smart contracts
        </li>
      </ul>
      <ul class="right">
          <li>
            <h4>DeFi-Compatible</h4>
            You will soon be able to interact with various protocols right from the Safe Multisig interface
          </li>
          <li>
            <h4>User Experience</h4>
            Interacting with a Multisignature Wallet has never been easier
          </li>
        </ul>
  </div>

  <h3>Upgrading couldn't be easier:</h3>
  <ul class="safe-migration-ul">
    <li>
      Click the button below to create a new Safe. The owner and signature policies of your existing
      Multisig will be applied to it automatically.
    </li>
    <li>
      Try out the new interface and learn about the many benefits.
    </li>
    <li>
      As soon as you feel comfortable, start moving funds to your new Safe. <a href="https://safe.gnosis.io/multisig" target="_blank">read more</a>
    </li>
  </ul>
  <div class="form-group centered-dash">
    <button class="safe-migration-btn" ng-click="create()">Create new Safe</button>
  </div>
  <div class="form-group">
    Questions? <a href="mailto:safe@gnosis.io">Get in touch!</a>
  </div>
</div>
<div class="modal-footer">
  <input type="checkbox" ng-model="data.hideMigrationModal" ng-checked="data.hideMigrationModal"> Don't show this again
  <button class="btn btn-danger" type="button" ng-click="dismiss()">
    Dismiss
  </button>
</div>
